<div class="collapse navbar-collapse" id="navbarNav">
  <h1><img src='/images/UnicornLogo.png'/></h1>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/login">LogIn</a>
      </li>
    </ul>
  </div>
</nav>