<div class="card col-3 m-3 shadow-unicorn" style="width: 18rem;">
  <div class="card-body d-flex justify-content-around flex-column">
    <h5 class="card-title text-center">{{book_name}}</h5>
    <p class="card-text">{{description}}</p>
    
    <a class="card-link text-light bg-danger p-2 text-center .hvr-grow" data-book_id={{id}} data-user_id={{user_id}}>Return Book</a>
  </div>
</div>