
{{> navbar}}

<section class='container mt-3'>
  <div class="row border">
    <ul class="nav nav-tabs ">
      <li class="nav-item ml-3">
        <div class="form-group form-check my-2">
          <input type="checkbox" class="form-check-input" id="available">
          <label class="form-check-label" for="available">Only Available</label>
        </div>
      </li>
      <select id='selectGenera' class="">
        <option class='autobiog' value="">Genra</option>
        <option class='autobiog' value="Autobiography">Autobiography</option>
        <option class='autobiog' value="Biography">Biography</option>
        <option class='autobiog' value="Fantasy">Fantasy</option>
        <option class='autobiog' value="Science Fiction">Science Fiction</option>
        <option class='autobiog' value="Thriller">Thriller</option>
        <option class='autobiog' value="Young Adult">Young Adult</option>
      </select>
      

    </ul>
  </div>
  <div class='row border d-flex justify-content-around'>
    {{#each books as |book|}}
    {{> book}}
    {{/each}}
  </div>
</section>
<script src="/js/dropdown.js"></script>