
{{> navbar}}

<section class='container mt-3'>
  <div class="row border">
    <ul class="nav nav-tabs ">
      <li class="nav-item ml-3">
        <div class="form-group form-check my-2">
          <input type="checkbox" class="form-check-input" id="available">
          <label class="form-check-label" for="available">Only Available</label>
        </div>
      </li>
      <select id='selectGenera'>
        <option value="">Genra</option>
        <option value="Autobiography">Autobiography</option>
        <option value="Biography">Biography</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Thriller">Thriller</option>
        <option value="Young Adult">Young Adult</option>
      </select>

      <select id='selectLocation'>
        <option value="">Location</option>
        <option value="West">West</option>
        <option value="East">East</option>
        <option value="Anoka">Anoka</option>
      </select>

    </ul>
  </div>
  <div class='row border d-flex justify-content-around'>
    {{#each books as |book|}}
    {{> book}}
    {{/each}}
  </div>
</section>
<script src="/js/dropdown.js"></script>